.mission {
  padding: 50px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 1.4em;
}

.mission__text {
  color: #727475;
  text-align: left;
  width: 100%;
  padding: 20px 0;
}

.mission__text h1 {
  font-size: 50px;
}

.mission__text h3 {
  font-size: 24px;
}

.card_container {
  display: flex;
  justify-content: space-between;
  gap: 20px;
  width: 100%;
  color: rgba(0, 0, 0, 0.85);
}
.card_text_about {
  font-size: 1.1em;
  font-weight: 600;
}

.misison__card__img {
  height: 400px !important;
  width: 300 !important;
  object-fit: cover;
}

.title {
  font-weight: 600;
  height: 70px;
}
.mission__button {
  width: 200px;
  height: 100%;
  margin: 0 auto 0;
  -webkit-perspective: 1000;
  -webkit-backface-visibility: hidden;
  background: #fff;
}

.link_pulse {
  padding: 15px 30px;
  display: inline-block;
  color: rgb(0, 0, 0);
  border-radius: 20px;

  text-decoration: none;
}

.link:hover {
  text-decoration: none;
  color: #000;
}

.link_pulse_color_0 {
  background: #05c7b0d4;
}
.link_pulse_color_1 {
  background: #104db0c9;
}
.link_pulse_color_2 {
  background: #ed1a1ace;
}

/*===================*/
/* PULSE GROW
/*===================*/

@-webkit-keyframes pulse-grow-on-hover {
  to {
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
  }
}
@keyframes pulse-grow-on-hover {
  to {
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
  }
}
.pulse-grow-on-hover {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
}
.pulse-grow-on-hover:hover,
.pulse-grow-on-hover:focus,
.pulse-grow-on-hover:active {
  -webkit-animation-name: pulse-grow-on-hover;
  animation-name: pulse-grow-on-hover;
  -webkit-animation-duration: 0.3s;
  animation-duration: 0.3s;
  -webkit-animation-timing-function: linear;
  animation-timing-function: linear;
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
  -webkit-animation-direction: alternate;
  animation-direction: alternate;
  color: white;
}

@media screen and (max-width: 991.9px) {
  .mission__text {
    text-align: center;
  }

  .card_container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 50px;
    width: 100%;
  }
}

.para {
  font-size: 16px;
  color: rgba(0, 0, 0, 0.714);
}
