.banner {
  position: relative;
}

.appbar {
  position: absolute;
  margin-left: auto;
  margin-right: auto;
  top: 20px;
  left: 0;
  right: 0;
  text-align: center;
}

.nav__item {
  font-size: 16px;
  color: white;
  font-weight: 600;
}

.nav__item:hover {
  color: grey;
}
.offcanvas .show {
  letter-spacing: 5px;
  margin: 10px 0;
}

@media screen and (max-width: 572px) {
  .offcanvas {
    background: rgba(3, 3, 3, 0.968) !important;
  }
}
