.main_para {
  word-spacing: 5px;
  font-weight: 600;
  color: rgba(0, 0, 0, 0.674);
  line-height: 2.2em;
  text-align: left;
  font-size: 1.8em;
  min-height: 45vh;
}
.main_para::first-letter {
  font-size: 400%;
  color: #8a2be2;
}
